.main-content {
  height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

}

@media (max-width: 767px) {
  .main-content {
    height: calc(100vh - 45px);
  }
}

.main-content-background {
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.1;
  background-image: url('/assets/laotzu.png');
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: contain;
}

.quote-loading span {
  display: inline-block;
  animation: bounce 0.3s ease-in-out infinite alternate;
}

@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-5px);
  }
}

.quote-loading span:nth-child(2){
  animation-delay:0.1s;
}

.quote-loading span:nth-child(3){
  animation-delay:0.2s;
}
